.users{

  .user{
    display: flex;
    align-items: center;
    &_left {
      img {
        max-width: 200px;
        width: 100%;

      }
    }
    &_right{
      flex: 1 1 auto;
      height: 100%;
      min-height: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 10px;
      padding: 10px;
      background: #7fce63;
      border-radius: 10px;
      .text {
        margin-left: 10px;
        margin-right: 10px;
        .name {
          font-size: 18px;
        }
        .location {
          margin-left: 11px;
          font-size: 15px;
        }
      }
      button{
        background: none;
        border: 1px solid black;
        padding: 10px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}