@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body{
    background: #fcf9f9;
    font-family: 'Open Sans', sans-serif;
}
main{
    max-width: 1200px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 10fr;
}
aside{
    padding: 10px;
}