.dialogs{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 10fr;

  .dialogs_items{
    .dialog{
      padding: 10px;
      &.active{
        color:gold;
      }
    }
  }
  .messages{
    .message{
      padding: 10px;
    }
  }
}
